<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Digital, web page" name="keywords">
        <meta content="piam, web page, digital" name="description">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo/TDA-logo.jpg')}}" type="image/jpeg">

        <!-- Favicon -->
        <link href="{{ asset('img/favicon.ico') }}" rel="icon">
        <!-- Open Graph meta tags for link preview -->
        <meta property="og:title" content="Talom Digital Art">
        <meta property="og:description" content=" we create an attractive and consistent visual aesthetic that reflects the brand's identity and captures visitors' attention.">
        <meta property="og:image" content="{{ asset('img/team-5.png') }}">
        <meta property="og:url" content="https://piam-web-page.onrender.com/index.php/index">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


        <!-- Libraries Stylesheet -->
        <link href="{{ asset('lib/animate/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">
        <link href="{{ asset('lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">


        <!-- Template Stylesheet -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

        <!-- Template Stylesheet -->
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


        <!-- JavaScript Libraries -->
        <script>
            console.log("Hallo !")

        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"> console.log("Hallo1 !")</script>
        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js'></script>
        <script src="{{ asset('lib/wow/wow.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('lib/easing/easing.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('lib/waypoints/waypoints.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('lib/typed/typed.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('lib/counterup/counterup.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('lib/owlcarousel/owl.carousel.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('lib/isotope/isotope.pkgd.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('lib/lightbox/js/lightbox.min.js') }}" type="text/javascript"></script>

        <!-- Template Javascript -->
        <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
    </body>
</html>
